@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
body,
input,
button,
.weather-title,
.weather-info {
    font-family: "Montserrat", sans-serif;
}

.weather-container {
    margin: 0;
    padding: 0;
    background: linear-gradient( to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
    width: 100%;
}

.weather-title {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
    color: white;
}

.weather-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
}

.box {
    background-color: lightslategray;
    border: 1px solid gray;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    padding: 20px;
    width: 400px;
    height: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.weather-title {
    text-align: center;
    color: #333;
}

.search-inp {
    position: relative;
    margin-bottom: 20px;
}

.weather-input {
    width: 94%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease, transform 0.2s ease;
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.weather-input:hover {
    border-color: #0c3483;
    transform: scale(1.02);
}

.weather-button {
    width: 100%;
    padding: 10px;
    background-color: #0c3483;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.weather-button:hover {
    background-color: #0c3483;
    transform: scale(1.05);
}

.weather-info {
    margin-top: 20px;
    text-align: center;
    color: #000000;
    opacity: 10;
    transition: opacity 0.5s ease;
}

.weather-info.show {
    opacity: 1;
}

.weather-info p {
    margin: 5px 0;
    font-size: 18px;
}