.main {
    height: 500px;
    width: 600px;
    background-color: aquamarine;
    margin-top: 50px;
    margin-left: 300px;
}

.heading {
    background-color: blueviolet;
    display: flex;
    text-align: center;
    justify-content: center;
    height: 50px;
}

.input {
    height: 40px;
    width: 300px;
    margin-left: 150px;
    border-radius: 20px;
    border: none;
    outline: none;
}

.button {
    border-radius: 20px;
}

.temp {
    font-size: 40px;
    display: flex;
    justify-content: center;
}